/* Add these styles to your existing CSS file */

/* Style for the form container */
form {
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: none;
    font-family: Inter, sans-serif;
}

/* Style for form elements */

form ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

form li {
    margin-bottom: 15px;
}

form textarea {
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    padding: 10px;
}

.input-fields {
    min-width: 200px;

}

.input-fields input {
    height: 30px;
    padding: 10px;
}

form button {
    padding: 15px;
    font-size: 16px;
    background-color: var(--black); /* Change this to your desired color */
    color: white;
    border: none;
    cursor: pointer;
    clip-path: polygon(
            0 0, /* left top */
            100% 15%, /* right top */
            100% 100%, /* right bottom */
            0 100% /* left bottom */
    );
}

form .button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3em;
}

