header {
    position: fixed;
    width: 100%;
    z-index: 1000;

}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    color: #FFF;
    clip-path: polygon(
            0 0, /* left top */
            100% 0%, /* right top */
            100% 80%, /* right bottom */
            0 100% /* left bottom */
    );
}



.logo {
    background-image: url("../assets/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 15px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 30%;
    height: 50px;
}

@media (orientation: portrait) {
    .logo {
        height: 100px;
    }
    .menu {
        font-size: 1.7em;
    }
}

.menu {
    margin: 15px 20px 0 0;
    cursor: default;
    align-self: flex-start;
}

.menu button {
    border: 0;
    background-color: transparent;
    color: var(--white);
    font-size: 1em;
    padding: 0px;
    margin-left: 2em;
    cursor: pointer;
}

.menu button:hover {
    color: var(--orange);
}

