footer {
    background-color: var(--black);
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

footer p {
    color: var(--white);
    padding: 0;
    margin: 0;
    font-family: Anton, sans-serif;
    cursor: default;

}

.address_box {
    width: 50%;
    margin: 1.8em 0 1.8em;
    border-right: 2px solid var(--white);
    padding-right: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

}

footer a {
    font-family: Anton, sans-serif;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;

}

footer a:hover {
    color: var(--orange);
}

.tags_box {
    margin: 1.8em;
}

.tags {
    height: 5em;
}